services:
  - name: etraffic
    kubernetesServiceName: etraffic
    successMessage: "\"message\":\"Payment completed successfully"
    failureMessage: failed
    notificationInterval: 3600



slackUrl: https://hooks.slack.com/services/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
elasticSearchUrl: http://172.17.17.44:9200
