services:
  - name: etraffic
    kubernetesServiceName: etraffic
    successMessage: "\"message\":\"Payment completed successfully"
    failureMessage: failed
    notificationInterval: 3600



slackUrl:
elasticSearchUrl:
