clusters:
- clusterName:
  dbUser:
  dbPassword:
  dbHost:
  dbPort:
  logDelayThreshold:

- clusterName:
  dbUser:
  dbPassword:
  dbHost:
  dbPort:
  logDelayThreshold:

slackUrl:
evaluateInterval:

